body {
    background: linear-gradient(#a2d2ff, #EFB0C9);
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #ffffff
}
h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}



.main {
    margin: 50px 0px -5px 0px;
}
.sub {
    margin: 20px 0px 30px 0px;

}


#dob {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.age {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px; 
    margin: 10px 0px 1px 0px;


}

.dob { 
    margin: 10px 0px 10px 0px;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px; 


}


img.four {
    width: 180px;
    border-radius: 90px;
    border: 6px solid #EFB0C9;
}
.happy-text {
    margin: 10px 0px 10px 0px;
}
.gift1 {
    margin: 0px auto;
    width: 400px;
    height: 400px;
    border: 5px solid white;
    border-radius: 20px;
    background-image: url("gift-cover.jpg");
    background-size: cover;

}
.gift1:hover {
    background-image: url("happy.gif");
    
}

#hot-gift:hover {
    background-image: url("hot.gif")
}

#badass-gift:hover {
    background-image: url("badass.gif")
}

#cheers-gift:hover {
    background-image: url("cheers.gif")
}

.first-gift-div {
    margin: 40px 0px 20px 0px;
}

.hot-div {
    margin: 70px 0px 50px 0px;
}

.badass-div {
    margin: 70px 0px 50px 0px;
}

.cheers-div {
    margin: 70px 0px 50px 0px;
}
.message {
    margin-bottom: 50px;
}